#scene {
    position: relative;
}

#canvas-wrap {
    position: relative;
    width: 640px;
    height: 680px;
}

#phylactere {
    z-index: 10;
    border-style: solid;
    font-size: 18;
}

/*canvas in the background*/
#canvasBackground {
    z-index: 0;
}

#canvasRealWorld {
    position: absolute;
    width: 300px;
    height: 150px;
}

#explanationGUI {
    position: absolute;
    z-index: 2;
    font-size: 18pt;
    color: brown;
}

.orBetweenWorlds {
    font-size: 8pt;
    vertical-align: bottom;
    margin-bottom: 32px;
    display: inline-block;
}

.count {
    font-size: 6pt;
}

/**
* intermediate circle
*/
.bullethought {
    z-index: 2;
    border-radius: 50%;
    border: 3px solid black;
    position: absolute;
    background-color: white;
}

.bulle {
    background-color: white;
    border: 3px solid black;
    border-radius: 25px;
    position: absolute;
    z-index: 2;
    max-width: 500px;
    height: 120px;
    padding: 8px;
    resize: both;
}

.worldcontainer {
    position: absolute;
    max-width: 480px;
    height: calc(100% - 20px);
    overflow: auto;
}

.canvasWorld {
    background-color: #f7d64f;
}

.copyRealWorld {
    border-bottom: solid 2px black;
}

.canvasWorld:hover {
    opacity: 0.9;
}
