<div id="scene">
    <div id="canvas-wrap">
        <p hidden id="phylactere" class="triangle-isosceles">message</p>
        <canvas id="canvasBackground" width="640" height="680"></canvas>
        <canvas id="canvasRealWorld" class="canvasWorld"></canvas>
        <div id="explanationGUI">Click on an agent to see its mental states.</div>
    </div>
</div>
