<div>
    <svg #svg [attr.width]="_options.width" [attr.height]="_options.height">
        <g>
            <g [app-edge]="edge" *ngFor="let edge of edges"></g>
            <g [app-node]="node" *ngFor="let node of nodes" [draggableNode]="node" [draggableInGraph]="graph"></g>
        </g>
    </svg>
</div>
