#scene { position:relative}

.whiteBackground {
  background-color: #FFFFFF;
}

#canvas-wrap { position:relative;
    width: 640px;
    height: 680px;
}


#titlescreen {
  background-color: #CCCCFF;
  height: 100%;
  text-align: center;
}


#titlescreen div {
  display: inline-block;
    text-align: justify;
    width: 500px;
}


#titlescreenenter {
  color: black;
  font-weight: bold;
  cursor: pointer;
  font-size: 150%;
}

#examplesscreen {
    text-align: center;
    background-color: #CCCCFF;
}

#examplesscreen div  {
    padding: 32px;
}



#examples div {
    padding: 8px;
}

.Example {
	background-color: white;
    padding: 8px;
    cursor: pointer;
    vertical-align: top;
    width:350px;
    margin:8px;
    display: inline-block;
    height: 84px;
}


.Example:hover {
    background-color: #DDDDFF;
    
}


.CanvasWorldExample {
    width: 120px;
    border-radius:16px;
    background-color: #FFDD88;
    padding:8px;
    vertical-align:middle;
}


h3 {
    padding:8px;
    margin-top:16px;
}









#mainscreen {
  background-color: #F7D64F;
  height: 100%;
}

body {
margin: 0px;
background-color: #F7D64F;
}

/*canvas in the background*/
#canvasBackground {
   z-index: 0;
}

#canvas {
position:absolute;
  left: 0;
  top: 0;
   z-index: 3;
   pointer-events:none;
}

h1 {
  padding: 2px;
  border-bottom: 5px solid black;
  margin: 0px;
  position: relative;
}


#hintikkasWorldLogo {
  margin: 0px;
  padding: 0px;
  height:120px;
}

svg {
  display: block;
  margin: auto;
}

#explanationGUI    {
  position:absolute;
  z-index: 2;
  font-size:18pt;
  color: brown;
}




.orBetweenWorlds {
  font-size:8pt;
  vertical-align: bottom;
  display: inline-block;
}

.bulle {
  background-color: white;
  position:absolute;
  z-index: 2;
  max-width:500px;
  height:96px;
  border-radius: 25px;
  border: 3px solid black;
  padding: 8px 4px 4px 4px;
}



.bullethought {
  z-index: 2;
  border-radius: 50%;
  border: 3px solid black;
  position:absolute;
  background-color: white;
}

.bulle:hover {
  border-radius:32px;
  border-width: 4px;
  padding: 7px 3px 3px 3px;
}

.worldcontainer    {
  position:absolute;
  max-width:480px;
  max-height:96px;
  overflow:auto;
}



.canvasWorld {
  background-color: #F7D64F;
}

.canvasWorld:hover {
  opacity: 0.9;
}

#canvasRealWorld {
  position:absolute;
   width: 300px;
   height: 150px;
  }

#exampleName {
  display: inline-block;
  font-size: 22px;
  height: 48px;
  margin: 8px;
}



.explanation {
  font-size: 14px;
  margin: 8px;
  padding: 4px;

}




#menu a {
  margin: 8px 8px 8px 8px;
  text-decoration: none;
}


.error {
  background-color: #FF8888;
}

#panelExample {
  width:255px;
}

.actionButton {
  border-radius: 18px;
  border-color: black;
  background-color: white;
  font-weight: bold;
  color: brown;
  margin: 8px;
  padding: 8px;
  font-size: 18;
  min-width: 240px;
  max-width: 240px;
  text-align: left;
  outline:none;
}

.actionButton:hover {
   background-color: white;
}

 button {
  background-color: white;
  border-radius: 16px;
  margin-top: 8px;
  margin-left: 2px;
  margin-bottom: 0px;
  padding: 4px 4px 4px 4px;
}

#topbar button {
  height:42px;
}


button:focus {
  outline: none;
}

 button :hover {
  background-color: #EEDDAA;
}



.vr {
  border-left:1px solid #000;
  height:42px;
  transform: rotate(20deg);
  margin-left:16px;
  margin-right:16px;
  display: inline-block;
   vertical-align: text-bottom;
}













.announcementbutton{
  min-width: 370px;
  text-align: left;
}


.buttonExample {
  background-color: white;
  min-height: auto;
}


#menu {
  float: right;
  padding: 3px;
  font-size: 12pt;
}


#phylactere {
  z-index: 10;
  border-style: solid;
  font-size: 18;
}

table, td, tr {
  margin: 0px;
  padding: 0px;
}

/* Bubble with an isoceles triangle
------------------------------------------ */

.triangle-isosceles {
  position: absolute;
  padding: 15px;
  margin: 1em 0 3em;
  color: #000;
  background: white;
  border-radius: 10px;
}

/* creates triangle */
.triangle-isosceles:after {
  content: "";
  display: block; /* reduce the damage in FF3.0 */
  position: absolute;
  bottom: -15px;
  left: 50px;
  width: 0;
  border-width: 15px 15px 0;
  border-style: solid;
  border-color: white transparent;
}

#viz {
  overflow: auto;
}


#palette {
    z-index: 500;
}

#hintikkasWorldScene {

}


#hintikkasWorldKripkeModel {
  padding: 8px;
}

svg {
  width:600px;
  height:600px;
}


.bigSVG {
  width: 2000px;
  height: 3000px;
}


circle {
  fill: white;
}

circle:hover {
  fill:lightgray;
}

.highlight {
  fill: lightgray;
}

.true {
  fill: lightgreen;
}


.currentWorld {
  border-width: 1px;
  border-style: dashed;
  opacity: 0.7;
}


.CodeMirror {
  border: 1px solid #eee;
  height: 500px;
}


#tooltip {
  background: black;
  color: white;
  padding: 8px;
  border-radius: 4px;
  opacity: 0.8;
}


.textagenta {
  display: inline-block;
  color: red;
}



.textagentb {
  display: inline-block;
  color: blue;
}



.textagentc {
  display: inline-block;
  color: purple;
}



#agenthighlight {
   border-radius: 20%;
   border: 5px solid;

}


input[type="radio"] {
	display: none;
}

input[type="radio"]:checked + label {
  background-color: #8888FF;
}

input[type="radio"] + label {
  background-color: white;
  border-radius: 16px;
  padding: 4px;
}

#title {
    vertical-align: top;
    padding: 64px;
}

